.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  height: 130px;
  align-items: center;
  .left {
    display: flex;
    width: 50%;
    height: 50%;
    justify-content: flex-start;
    align-items: center;
    * {
      margin-left: 2%;
    }
  }
  .right {
    height: 50%;
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    button {
      margin-right: 2%;
      height: 100%;
      width: 100%;
    }
    .userInfo {
      width: 100%;
      margin-right: 2%;
      display: flex;
      align-items: center;
      justify-content: center;
      .profilePicture {
        width: auto;
        height: 50%;
        border-radius: 50%;
      }
      span {
        margin-right: 5%;
        text-align: center;
        height: auto;
      }
    }
  }
}
