.nav {
  background-color: #31835f;
  border-bottom: 3px solid black;
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  height: 10vh;
  align-items: center;
  .left {
    display: flex;
    width: 50%;
    height: 50%;
    justify-content: flex-start;
    align-items: center;
    h1 {
      color: #fff;
      margin-left: 2%;
    }
  }
  .right {
    height: 50%;
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    button {
      color: #fff;
      margin-right: 2%;
    }
    button:hover {
      color: black;
    }
  }
}
