.container {
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
}
.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  margin: 10px;
  .left {
    display: flex;
    width: 50%;
    justify-content: flex-start;
  }
  .right {
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: space-around;

    .profile {
      display: flex;
      flex-direction: row;
    }
  }
}
